aiocsv==1.2.5
aiofiles==23.2.1
anyio==4.6.2.post1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
exceptiongroup==1.2.2
fastapi==0.115.5
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.10
loguru==0.6.0
mypy-extensions==0.4.4
pybotx==0.73.0
pydantic==1.10.18
PyJWT==2.9.0
python-dotenv==1.0.1
requests==2.32.3
sniffio==1.3.1
starlette==0.41.2
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.0
